{% extends '../base/main.html' %}
{% block title %}Üye Girişi{% endblock %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			<div class="post-preview">
				<form action="" method="post">
					{% csrf_token %}
					{% if form.email.errors %}
					{{ form.email.errors }}
					{% endif %}
					<p>E-mail: {{ form.email }}</p> 
					<input type="submit" class="btn btn-default btn-lg" value="Reset password">
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}